# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [1]:
import pandas as pd

from sqlalchemy import create_engine

#### Importing database through sqlalchemy

In [2]:


driver   = 'mysql+pymysql:'
user     = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136'
database = 'retail_sales'

In [3]:
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
print(connection_string)

mysql+pymysql://data-students:iR0nH@cK-D4T4B4S3@34.65.10.136/retail_sales

In [4]:
engine = create_engine(connection_string)
print(engine)

Engine(mysql+pymysql://data-students:***@34.65.10.136/retail_sales)

In [5]:
retail_db = pd.read_sql(f'SHOW TABLES', engine)
retail_db.head()

  Tables_in_retail_sales
0              raw_sales

In [6]:
raw_sales = pd.read_sql('SELECT * FROM raw_sales', engine)

In [7]:
raw_sales

           date  shop_id  item_id  item_price  item_cnt_day
0    2015-01-04       29     1469      1199.0           1.0
1    2015-01-04       28    21364       479.0           1.0
2    2015-01-04       28    21365       999.0           2.0
3    2015-01-04       28    22104       249.0           2.0
4    2015-01-04       28    22091       179.0           1.0
...         ...      ...      ...         ...           ...
4540 2015-01-04       15     4240      1299.0           1.0
4541 2015-01-04       14    21922        99.0           1.0
4542 2015-01-04       15     1969      3999.0           1.0
4543 2015-01-04       14    22091       179.0           1.0
4544 2015-01-04       15     1007      1199.0           1.0

[4545 rows x 5 columns]

In [8]:
#checking for NaN & error values to clean
raw_sales.isna().sum()

date            0
shop_id         0
item_id         0
item_price      0
item_cnt_day    0
dtype: int64

In [9]:
#creating copies to clean
original = raw_sales.copy()

raw_sales_data = raw_sales.copy()

In [10]:
original

           date  shop_id  item_id  item_price  item_cnt_day
0    2015-01-04       29     1469      1199.0           1.0
1    2015-01-04       28    21364       479.0           1.0
2    2015-01-04       28    21365       999.0           2.0
3    2015-01-04       28    22104       249.0           2.0
4    2015-01-04       28    22091       179.0           1.0
...         ...      ...      ...         ...           ...
4540 2015-01-04       15     4240      1299.0           1.0
4541 2015-01-04       14    21922        99.0           1.0
4542 2015-01-04       15     1969      3999.0           1.0
4543 2015-01-04       14    22091       179.0           1.0
4544 2015-01-04       15     1007      1199.0           1.0

[4545 rows x 5 columns]

#### Creating new column total revenue to measure profits

In [11]:
raw_sales_data ['total_revenue'] = raw_sales_data['item_price'] * raw_sales_data['item_cnt_day']

In [12]:
raw_sales_data

           date  shop_id  item_id  item_price  item_cnt_day  total_revenue
0    2015-01-04       29     1469      1199.0           1.0         1199.0
1    2015-01-04       28    21364       479.0           1.0          479.0
2    2015-01-04       28    21365       999.0           2.0         1998.0
3    2015-01-04       28    22104       249.0           2.0          498.0
4    2015-01-04       28    22091       179.0           1.0          179.0
...         ...      ...      ...         ...           ...            ...
4540 2015-01-04       15     4240      1299.0           1.0         1299.0
4541 2015-01-04       14    21922        99.0           1.0           99.0
4542 2015-01-04       15     1969      3999.0           1.0         3999.0
4543 2015-01-04       14    22091       179.0           1.0          179.0
4544 2015-01-04       15     1007      1199.0           1.0         1199.0

[4545 rows x 6 columns]

### Calculating KPIs over revenue

#### Aggregating per item & per store that adds up the rest of the values.

In [34]:
raw_sales_data.groupby(['shop_id']).agg({'total_revenue':['mean', 'min', 'max']})

        total_revenue
                 mean      min      max
shop_id
2         1383.280000    28.00   8999.0
3         2043.727273   500.00   8999.0
4          752.846154    79.00   2799.0
5          736.400000    99.00   3690.0
6         1100.619048     5.00   7796.0
7          831.285714    99.00   3999.0
10         841.333333     6.00   2456.0
12        2049.812500    79.00  17998.0
14        1276.666667    58.00  11997.0
15        1345.580645    49.00  19990.0
16        1935.285714   249.00  14990.0
18         411.344828    10.00   1649.0
19         779.090909 -1598.00   4499.0
21        1316.086207  -799.00  26990.0
22        1395.527778    15.00   9900.0
24         825.434783     5.00   3490.0
25         981.061224 -2099.00   4999.0
26        1115.388889   149.00   5890.0
27        1067.648148    99.00   5980.0
28        1007.522388    30.00   4580.0
29        1190.791667    99.00   2990.0
31         883.165217    49.00   4596.0
34         673.166667     5.00   2599.0
35         782.964286 -3990.00   3999.0
37        3675.000000     5.00  27392.0
38        1113.363636    58.00   4499.0
39         680.117647     5.00   3999.0
41        1228.000000    99.00   3499.0
42        1375.462500 -2599.00  26990.0
44        2082.500000  -499.00  27990.0
45        1247.727273    99.00   7998.0
46         978.156250    58.00   3490.0
47        1027.461538   159.00   3999.0
48         519.761905    49.00   2599.0
49        1084.363636   198.00   3799.0
50        2367.550000    20.00  26990.0
51         507.857143   167.00   1189.0
52         847.080000  -332.67   3690.0
53         701.458333    10.00   3490.0
54         673.887097    58.00   3999.0
55        1627.120000    25.00  11994.0
56         762.583333     5.00   5198.0
57         732.262136    28.00  14990.0
58         933.745098    28.00   3999.0
59        1108.911765    10.00   6799.0

In [35]:
raw_sales_data.groupby([('item_id')]).agg({'total_revenue':['mean', 'min', 'max']})

        total_revenue
                 mean    min    max
item_id
30              169.0  169.0  169.0
31              363.0  363.0  363.0
32              149.0  149.0  149.0
42              299.0  299.0  299.0
59              249.0  249.0  249.0
...               ...    ...    ...
22091           179.0  179.0  179.0
22092           179.0  179.0  179.0
22104           498.0  498.0  498.0
22140           217.5  217.5  217.5
22162           478.8  399.0  798.0

[985 rows x 3 columns]

In [15]:

shop_sales = raw_sales_data.groupby(['shop_id']).agg(['mean'])
shop_sales

              item_id   item_price item_cnt_day total_revenue
                 mean         mean         mean          mean
shop_id
2        12891.720000  1320.940000     1.080000   1383.280000
3        10174.090909  2043.727273     1.000000   2043.727273
4        12785.230769   752.846154     1.000000    752.846154
5        13797.066667   736.400000     1.000000    736.400000
6        10054.714286   923.428571     1.190476   1100.619048
7        10619.761905   831.285714     1.000000    831.285714
10       11486.555556   841.000000     1.111111    841.333333
12       11439.854167  1473.586111     1.500000   2049.812500
14        9377.266667   743.466667     1.133333   1276.666667
15       13011.032258  1345.580645     1.000000   1345.580645
16       11181.523810  1897.238095     1.047619   1935.285714
18        9179.000000   406.793103     1.103448    411.344828
19        7584.863636   924.363636     0.909091    779.090909
21       10107.741379  1292.060345     1.034483   1316.086207
22        8278.277778  1154.305556     1.305556   1395.527778
24        8668.086957   825.434783     1.000000    825.434783
25       11166.326531   958.489796     1.061224    981.061224
26       11878.138889  1102.083333     1.027778   1115.388889
27       11952.703704   964.962963     1.111111   1067.648148
28       12060.283582   873.701493     1.223881   1007.522388
29       12284.083333  1190.791667     1.000000   1190.791667
31       11293.234783   777.095652     1.165217    883.165217
34       18597.000000   673.166667     1.000000    673.166667
35        9638.214286  1063.535714     1.000000    782.964286
37       12980.700000  3535.050000     1.050000   3675.000000
38        6732.272727  1113.363636     1.000000   1113.363636
39       16062.352941   595.470588     1.058824    680.117647
41       14239.800000  1228.000000     1.000000   1228.000000
42       12519.887500  1366.100000     1.037500   1375.462500
44        9127.772727  2167.727273     0.772727   2082.500000
45       11556.090909   744.045455     1.454545   1247.727273
46       11545.093750   970.681250     1.031250    978.156250
47        9714.961538  1027.461538     1.000000   1027.461538
48       10687.857143   519.761905     1.000000    519.761905
49       13699.000000  1084.363636     1.000000   1084.363636
50       10295.950000  2366.800000     1.150000   2367.550000
51        9527.428571   442.142857     1.142857    507.857143
52        8269.280000   873.493600     0.960000    847.080000
53       11101.333333   692.958333     1.083333    701.458333
54       11065.209677   641.677419     1.048387    673.887097
55        8136.485714   691.548571     1.714286   1627.120000
56        9265.458333   654.291667     1.041667    762.583333
57       12869.504854   709.495146     1.048544    732.262136
58       12291.450980   884.431373     1.098039    933.745098
59       10539.764706  1101.500000     1.088235   1108.911765

In [16]:
# One aggregate per store that adds up the rest of the values.

shop_sales2 = raw_sales_data.groupby(['shop_id']).agg(['mean', 'count'])

In [17]:
shop_sales

              item_id   item_price item_cnt_day total_revenue
                 mean         mean         mean          mean
shop_id
2        12891.720000  1320.940000     1.080000   1383.280000
3        10174.090909  2043.727273     1.000000   2043.727273
4        12785.230769   752.846154     1.000000    752.846154
5        13797.066667   736.400000     1.000000    736.400000
6        10054.714286   923.428571     1.190476   1100.619048
7        10619.761905   831.285714     1.000000    831.285714
10       11486.555556   841.000000     1.111111    841.333333
12       11439.854167  1473.586111     1.500000   2049.812500
14        9377.266667   743.466667     1.133333   1276.666667
15       13011.032258  1345.580645     1.000000   1345.580645
16       11181.523810  1897.238095     1.047619   1935.285714
18        9179.000000   406.793103     1.103448    411.344828
19        7584.863636   924.363636     0.909091    779.090909
21       10107.741379  1292.060345     1.034483   1316.086207
22        8278.277778  1154.305556     1.305556   1395.527778
24        8668.086957   825.434783     1.000000    825.434783
25       11166.326531   958.489796     1.061224    981.061224
26       11878.138889  1102.083333     1.027778   1115.388889
27       11952.703704   964.962963     1.111111   1067.648148
28       12060.283582   873.701493     1.223881   1007.522388
29       12284.083333  1190.791667     1.000000   1190.791667
31       11293.234783   777.095652     1.165217    883.165217
34       18597.000000   673.166667     1.000000    673.166667
35        9638.214286  1063.535714     1.000000    782.964286
37       12980.700000  3535.050000     1.050000   3675.000000
38        6732.272727  1113.363636     1.000000   1113.363636
39       16062.352941   595.470588     1.058824    680.117647
41       14239.800000  1228.000000     1.000000   1228.000000
42       12519.887500  1366.100000     1.037500   1375.462500
44        9127.772727  2167.727273     0.772727   2082.500000
45       11556.090909   744.045455     1.454545   1247.727273
46       11545.093750   970.681250     1.031250    978.156250
47        9714.961538  1027.461538     1.000000   1027.461538
48       10687.857143   519.761905     1.000000    519.761905
49       13699.000000  1084.363636     1.000000   1084.363636
50       10295.950000  2366.800000     1.150000   2367.550000
51        9527.428571   442.142857     1.142857    507.857143
52        8269.280000   873.493600     0.960000    847.080000
53       11101.333333   692.958333     1.083333    701.458333
54       11065.209677   641.677419     1.048387    673.887097
55        8136.485714   691.548571     1.714286   1627.120000
56        9265.458333   654.291667     1.041667    762.583333
57       12869.504854   709.495146     1.048544    732.262136
58       12291.450980   884.431373     1.098039    933.745098
59       10539.764706  1101.500000     1.088235   1108.911765

In [18]:
shop_sales2 = raw_sales_data.groupby(['shop_id']).agg(['mean', 'count'])

In [19]:
shop_sales

              item_id   item_price item_cnt_day total_revenue
                 mean         mean         mean          mean
shop_id
2        12891.720000  1320.940000     1.080000   1383.280000
3        10174.090909  2043.727273     1.000000   2043.727273
4        12785.230769   752.846154     1.000000    752.846154
5        13797.066667   736.400000     1.000000    736.400000
6        10054.714286   923.428571     1.190476   1100.619048
7        10619.761905   831.285714     1.000000    831.285714
10       11486.555556   841.000000     1.111111    841.333333
12       11439.854167  1473.586111     1.500000   2049.812500
14        9377.266667   743.466667     1.133333   1276.666667
15       13011.032258  1345.580645     1.000000   1345.580645
16       11181.523810  1897.238095     1.047619   1935.285714
18        9179.000000   406.793103     1.103448    411.344828
19        7584.863636   924.363636     0.909091    779.090909
21       10107.741379  1292.060345     1.034483   1316.086207
22        8278.277778  1154.305556     1.305556   1395.527778
24        8668.086957   825.434783     1.000000    825.434783
25       11166.326531   958.489796     1.061224    981.061224
26       11878.138889  1102.083333     1.027778   1115.388889
27       11952.703704   964.962963     1.111111   1067.648148
28       12060.283582   873.701493     1.223881   1007.522388
29       12284.083333  1190.791667     1.000000   1190.791667
31       11293.234783   777.095652     1.165217    883.165217
34       18597.000000   673.166667     1.000000    673.166667
35        9638.214286  1063.535714     1.000000    782.964286
37       12980.700000  3535.050000     1.050000   3675.000000
38        6732.272727  1113.363636     1.000000   1113.363636
39       16062.352941   595.470588     1.058824    680.117647
41       14239.800000  1228.000000     1.000000   1228.000000
42       12519.887500  1366.100000     1.037500   1375.462500
44        9127.772727  2167.727273     0.772727   2082.500000
45       11556.090909   744.045455     1.454545   1247.727273
46       11545.093750   970.681250     1.031250    978.156250
47        9714.961538  1027.461538     1.000000   1027.461538
48       10687.857143   519.761905     1.000000    519.761905
49       13699.000000  1084.363636     1.000000   1084.363636
50       10295.950000  2366.800000     1.150000   2367.550000
51        9527.428571   442.142857     1.142857    507.857143
52        8269.280000   873.493600     0.960000    847.080000
53       11101.333333   692.958333     1.083333    701.458333
54       11065.209677   641.677419     1.048387    673.887097
55        8136.485714   691.548571     1.714286   1627.120000
56        9265.458333   654.291667     1.041667    762.583333
57       12869.504854   709.495146     1.048544    732.262136
58       12291.450980   884.431373     1.098039    933.745098
59       10539.764706  1101.500000     1.088235   1108.911765

In [36]:
# # One aggregate per item that adds up the rest of the values.

# item_sales = raw_sales_data.groupby(['item_id']).agg(['count', 'min', 'max'])

# item_sales
# # item_sales.agg(['item_price', 'item_cnt_day'])

In [37]:
# item_sales2 = raw_sales_data.groupby(['item_cnt_day']).agg(['mean', 'min', 'max'])
# item_sales2